/* FONTS */
@font-face {
    font-family: Afek;
    src: url(../assets/fonts/Afek-Regular/Afek-Regular.woff),
    url(../assets/fonts/Afek-Regular/Afek-Regular.woff2),
    url(../assets/fonts/Afek-Regular/Afek-Regular.eot),
    url(../assets/fonts/Afek-Regular/Afek-Regular.ttf);
}

@font-face {
    font-family: Afek;
    src: url(../assets/fonts/Afek-DemiBold/Afek-DemiBold.woff),
    url(../assets/fonts/Afek-DemiBold/Afek-DemiBold.woff2),
    url(../assets/fonts/Afek-DemiBold/Afek-DemiBold.ttf),
    url(../assets/fonts/Afek-DemiBold/Afek-DemiBold.eot);
    font-weight: bold;
}

@font-face {
    font-family: Afek;
    src: url(../assets/fonts/Afek-Thin/Afek-Thin.woff),
    url(../assets/fonts/Afek-Thin/Afek-Thin.woff2),
    url(../assets/fonts/Afek-Thin/Afek-Thin.eot),
    url(../assets/fonts/Afek-Thin/Afek-Thin.ttf);
    font-weight: thin;
}

@font-face {
    font-family: Lucida_Grande;
    src: url(../assets/fonts/Lucida_Grande-Regular/Lucida_Grande-Regular.woff),
    url(../assets/fonts/Lucida_Grande-Regular/Lucida_Grande-Regular.woff2),
    url(../assets/fonts/Lucida_Grande-Regular/Lucida_Grande-Regular.eot),
    url(../assets/fonts/Lucida_Grande-Regular/Lucida_Grande-Regular.ttf);
}

@font-face {
    font-family: Lucida_Grande;
    src: url(../assets/fonts/Lucida_Grande-Bold/Lucida_Grande-Bold.woff),
    url(../assets/fonts/Lucida_Grande-Bold/Lucida_Grande-Bold.woff2),
    url(../assets/fonts/Lucida_Grande-Bold/Lucida_Grande-Bold.ttf),
    url(../assets/fonts/Lucida_Grande-Bold/Lucida_Grande-Bold.eot);
    font-weight: bold;
}