// Mixins
@mixin small-text {
    font-size: text(small);
    padding: 0;
    // margin: 2.2% 0;
    margin: 4px 0;
    height: 15px; // must work without it
}

@mixin error-input {
    background-color: color(error-background);
    border: 1px solid color(error);
}

// Imports
// Main container
@import 'main/container';

// Form
@import 'main/form';

// Custom checkbox
@import 'main/checkbox';

// Tooltip
@import 'main/tooltip';

// Custom select
@import 'main/select';

// Custom date picker
@import 'main/datepicker';

// Success screen
@import 'main/success';