/* MEDIA QUERIES */
@media screen and (max-height: 950px) { // removes the 100vh of the main element on shorter screens
    main {
        height: 100%;
    }
}

// @media screen and (max-width: 1440px) { // big (average) screen
    
// }

@media screen and (max-width: 1024px) { // medium (small) screen / tablet
    main {
        height: auto;
    }

    .sectionContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        
        border: none;
        position: relative;
        
        .icon-close {
            background-image: url(../assets/images/icon-general-ex-white.svg);
        }

        .imageContainer {
            position: absolute;
            z-index: 1;
            max-width: 100%;
            height: 100%;
            
            background-image: url(../assets/images/bg-tablet.svg);

            .logo {
                height: auto;
                width: 150px;
                position: absolute;
                top: 3%;
                left: 50%;
                margin-left: -75px;
            }
        }

        #userInputField {
            z-index: 2;
            background-color: #fff;

            width: 574px;
            position: relative;
            // margin: 11.8% 12.6% 5% 12.6%;
            margin: 128px 12.6% 5% 12.6%;
            height: auto;

            form {
                padding: 0;
                margin-left: 7%;
                margin-right: 7%;
                width: auto;
            }
        }

        .userInputField {
            padding: 5%;
        }
    }
}

@media screen and (max-width: 768px) { // small screen / phone
    main {
        height: auto;
    }

    .sectionContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        align-items: center;

        border: none;
        position: relative;
        
        .icon-close {
            background-image: url(../assets/images/icon-general-ex-white.svg);
        }

        .imageContainer {
            position: initial;
            max-width: 100%;
            height: 193px;
            
            background-image: url(../assets/images/bg-phone.svg);

            .logo {
                // height: 5.8%;
                height: auto;
                width: 150px;
                position: absolute;
                top: 5%;
                left: 50%;
                margin-left: -75px;
            }
        }

        #userInputField {
            // z-index: 2;
            background-color: #fff;

            width: auto;
            position: initial;
            // margin: 11.8% 12.6% 5% 12.6%;
            // margin: 3.3% 12.6% 5% 12.6%;
            margin: 0;
            height: auto;

            form {
                padding: 0;
                margin-left: 5%;
                margin-right: 5%;
                width: auto;

                h1 {
                    font-size: 26px;
                }

                .formSubmitBtn {
                    width: 100%;
                    margin-bottom: 1.7%;
                }
            }
        }

        .userInputField {
            padding: 5%;
        }
    }
}

// @media screen and (min-width: 320px) { // min screen width

// }