/* VARIABLES */
/* Colors */
$colors: (
    primary: #357875,
    secondary: #424242,
    disabled: #898989,
    border: #d6d6d6,
    border-dark: #707070,
    focus: #aa198d,
    error: #ff3a00,
    error-background: rgba(255, 58, 0, 0.08)
);

/* Text */
$text: (
    small: 12px,
    normal: 16px,
    big: 18px,
    title: 44px
);

/* FUNCTIONS */
@function color($color-name) {
    @return map-get($colors, $color-name)
};

@function text($text-name) {
    @return map-get($text, $text-name)
};