/* SHARED IMPORTS */
@import 'variables';
@import 'fonts';

/* SHARED ELEMENTS */
html {
    scroll-behavior: smooth;
    font-family: Afek, Lucida_Grande;
    color: color(secondary);
}

body {
    margin: 0;
    padding: 0;
}

/* PAGE IMPORTS */
@import 'main';

@import 'temp'; // temporary file representing other pages

/* MEDIA QUERIES */
@import 'queries';