.checkboxGroup {
    display: flex;
    flex-direction: column;
    margin: 3.7% 0;

    /* On mouse-over, add a grey background color */
    input:hover ~ .checkmark {
        background-color: color(border);
    }
  
    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
        background-color: color(secondary);
    }

    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .checkmark:after {
        left: 4.5px;
        top: 0;
        width: 4px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.checkbox {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 15px;
    padding-top: 2.5px;
    cursor: pointer;
    font-size: text(normal);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    right: 0;
    height: 18px;
    width: 18px;
    //   background-color: #eee;
    border: 1.5px solid color(border-dark);
    box-sizing: border-box;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}