main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    * {
        transition: 0.3s; // maybe move the transition to other elements
    }
}

.sectionContainer {
    width: 1440px;
    display: flex;
    
    border: 1px solid color(border); // not required?

    position: relative;

    .icon-close {
        position: absolute;
        // top: 1.8%;
        // right: 1.5%;
        top: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
        
        border: none;
        background-color: transparent;

        background-image: url(../assets/images/icon-general-ex.svg);
        z-index: 999;
    }

    .imageContainer {
        width: 100%;
        max-width: 720px;
        min-width: 50%;
        position: relative;
        overflow: hidden; // max height image overflows otherwise

        background-image: url(../assets/images/bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
    
        .logo {
            height: 5.8%;
            position: absolute;
            top: 5%;
            left: 5.8%;
        }
    }

    #userInputField {
        max-width: 720px;
        min-width: 50%;
    }

    .userInputField {
        padding: 5% 0;
        box-sizing: border-box;
    }
}