#birthDateContainer {
    position: relative;
}

.date-picker-icon {
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    // left: 5.4%;
    left: 5%;
    top: 25%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.icon-calendar {
    @extend .date-picker-icon;
    background-image: url(assets/images/icon-actions-calander.svg);
}

.icon-calendar-clear {
    @extend .date-picker-icon;
    background-image: url(assets/images/icon-general-ex.svg);
    left: calc(5% + 24px + 5%);
    padding: 2px;
    background-color: color(border);
    border-radius: 50%;
}

.flatpickr-day.selected {
    background-color: color(focus);
    border-color: color(focus);
}

.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay {
  height: 0;
  width: 0;
  visibility: hidden;
}

.flatpickr-rContainer {
    direction: rtl;
}

.flatpickr-day.today {
    border-color: transparent;
}

.flatpickr-day.today::after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    
    display: inline-block;
    position: absolute;
    bottom: 3px;
    left: 16px;

    background-color: color(focus);
}

// calendar colors of the circles
// selected day
// .flatpickr-day.selected {
//     background-color: orange;
// }

// selected day hover
.flatpickr-day.selected:hover {
    background-color: lighten(color(focus), 5%);
    border: 1px solid color(focus);
}

// selected day click
.flatpickr-day.selected:focus {
    background-color: lighten(color(focus), 5%);
    border: 1px solid color(focus);
}

// day
// .flatpickr-day {
//     background-color: red;
// }

// day hover
.flatpickr-day:hover {
    background-color: transparent;
    border: 1px solid color(focus);
}

// day click
.flatpickr-day:focus {
    background-color: transparent;
    border: 1px solid color(focus);
}

// current day
// .flatpickr-day.today {
//     background-color: red;
// }

// current day hover
.flatpickr-day.today:hover {
    background-color: transparent;
    border: 1px solid color(focus);
    color: #393939;
}

// current day click
.flatpickr-day.today:focus {
    background-color: color(focus);
    color: #fff;
}