form {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding-right: 15.7%;
    padding-left: 15.7%;
    direction: rtl;
    position: relative;

    h1 {
        color: color(primary);
        // height: 5.9%;
        font-size: text(title);
        // margin-top: 5.3%;
        margin-top: 44px;
        // margin-bottom: 0.9%;
        margin-bottom: 8px;
    }

    p {
        // width: 66.5%;
        width: 100%;
        margin: 0;

        // margin-bottom: 2.2%;
        margin-bottom: 20px;

        box-sizing: border-box;
        // padding-left: 2.1%;
        padding-left: 20px;
    }

    fieldset {
        display: flex;
        border: none;
        padding: 0;
        margin: 0;

        div {
            width: 100%;
        }

        div:last-child {
            margin-right: 3.3%;
        }

        label:first-child {
            display: inline-flex;
            // align-items: center;
        }
    }

    label {
        display: inline-block;
        // margin-bottom: 3.2%;
        margin-bottom: 5px;

        // display: inline-flex;
        // align-items: center;

        .icon {
            // width: some%;
            width: 22px;
            // margin-right: 1.3%;
            margin-right: 3px;
            height: 100%;
        }
    }

    input {
        padding: 15px 15px 15px 0;
        border: 1px solid color(border);
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
        font-size: text(normal);
        font-family: Afek, Lucida_Grande;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &::-ms-clear,
        &::-ms-reveal {
            display: none;
        }
    }

    // Form submit button
    .buttonContainer {
        font-size: text(big);
        margin-bottom: 5%;
        
        .formSubmitBtn {
            border: none;
            background-color: color(primary);
            color: white;
            padding: 14px 25px;
            border-radius: 30px;
            font-weight: bold;
            // margin-left: 2.5%;
            margin-left: 15px;
            // box-sizing: content-box;
            font-size: text(big);
            // letter-spacing: 0px;
            letter-spacing: -1px;
        }

        .buttonDisabled {
            background-color: color(secondary);
            color: white;
            opacity: 0.25;
            // cursor: no-drop;
        }

        span {
            font-weight: bold;
            color: color(primary);
            // letter-spacing: 0px;
            letter-spacing: -1px;
        }
    }

    // Errors
    .error-border {
        @include error-input;

        background-image: url('assets/images/icon-general-error.svg');
        background-repeat: no-repeat;
        background-position: left 3.2% center; 
    }

    .error-text {
        @include small-text;
        color: color(error);
        visibility: hidden;
    }

    .error-text-visibile {
        visibility: visible;
    }

    .error-display-none {
        display: none;
    }

    .password-show {
        background-image: url('assets/images/icon-general-hide.svg');
        background-repeat: no-repeat;
        background-position: left 3.2% center; 
    }

    .password-hide {
        background-image: url('assets/images/icon-general-show.svg');
        background-repeat: no-repeat;
        background-position: left 3.2% center;
    }

    .passDiv {
        position: relative;
    }

    .passVisibilityButton {
        border: none;
        background-color: transparent;
        visibility: hidden;

        position: absolute;
        top: 25px;
        left: 0;
        
        cursor: pointer;
        height: 47px;
        width: 35px;
    }

    .error-password-show {
        @include error-input;

        background-image: url('assets/images/icon-general-error.svg'), url('assets/images/icon-general-hide.svg');
        background-repeat: no-repeat;
        background-position: left 3.2% center, left 15.5% center; 
    }

    .error-password-hide {
        @include error-input;

        background-image: url('assets/images/icon-general-error.svg'), url('assets/images/icon-general-show.svg');
        background-repeat: no-repeat;
        background-position: left 3.2% center, left 15.5% center; 
    }

    // Small text under license input field
    .small-text {
        @include small-text;
        display: inline-block;
    }

    .error-border-no-icon {
        background-color: color(error-background) !important;
        border: 1px solid color(error) !important;
    }
    
    .borderFocus {
        outline-color: color(focus);
        outline-width: thin;
        border: 1px solid color(focus);

        &::placeholder {
            color: transparent;
        }
    }
}