// Main container
.select2-container {
    transition: 0;
}

// Border and padding
.select2-container .select2-selection--single {
    height: 51px;
    padding: 15px 15px 15px 0;
    border-color: color(border);
}

.select2-container:hover .select2-selection--single {
    border-color: color(secondary);
}

// Dropdown arrow
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    background-image: url(../../assets/images/icon-general-arrow-drop-down.svg);
    background-color: transparent;
    background-size: contain;
    border: none;
    height: 24px;
    width: 24px;
    margin: auto;
    left: 10px;
    top: 25%;
}

// Border of the input field when focused
.select2-container .select2-selection--single[aria-expanded="true"] {
    border: 1px solid color(focus);
    // padding: 14px 14px 13px 0;
    // border-radius: 4px;

    // outline: 2px solid color(focus);
    // outline-offset: -2px;
    // border-radius: 5px;

    // border-color: transparent;
    // box-shadow: 0 0 0 2px color(focus);

    // Change arrow image
    b {
        background-image: url(../../assets/images/icon-general-arrow-drop-up.svg);
    }
}

// Radius of the input field when focused
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 4px;
}

// Text inside the window
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: normal;
    text-align: right;
    padding-right: 0;
}

// Change arrow positioning
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    right: auto;
    left: 0;
}

// Option fields
.select2-container--open .select2-dropdown--below {
    text-align: right;
    margin-top: 2.5px;
    border: 1px solid color(border);
    border-radius: 2.5px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: color(border);
    color: color(secondary);
}

.select2-results__option {
    padding: 15px;
}