// Fade in from bottom animation
@keyframes successEnter {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@mixin sucess-animation {
    animation-name: successEnter;
    animation-duration: 1.5s;
}

.userInputField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    direction: rtl;
    
    .success-image {
        width: 152px;
        height: 117px;
        @include sucess-animation;
    }

    h1 {
        color: color(primary);
        font-size: text(title);
        margin: 2.7%;
        @include sucess-animation;
        text-align: center;
    }

    p {
        display: inline-block;
        // box-sizing: border-box;
        width: 80%;
        margin: 0;
        text-align: center;
        font-size: 20px;
        line-height: 29px;
        @include sucess-animation;
    }

    .icon-close {
        position: absolute;
        top: 1.8%;
        right: 2.2%;
        width: 24px;
        height: 24px;
    }
}