img:hover + ul {
    visibility: visible;
}

.tooltip-and-icon-container {
    position: absolute;
    right: 45px;
    top: -1.5px;
    height: 24px;
    width: 24px;

    ul {
        visibility: hidden;
        width: 267px;
        border-radius: 2px;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        padding: 8px 11px;
    
        position: absolute;
        z-index: 1;
        top: 32.5px;
        right: -42.5px;
        
        list-style: none;
        background-color: #424242;
        color: #fff;
        text-align: right;
        line-height: 26px;
    }
    
    ul::after {
        content: " ";
        position: absolute;
        bottom: 100%;  /* At the top of the tooltip */
        right: 50px;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #424242 transparent;
    }
    
    li::before {
        content: "- ";
    }
}